<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='editor.js') }}"></script>
</head>
<body>
<div id="sidebar">
  <a href="{{ url_for('index') }}">Home</a>
  <h2>Books</h2>
  {% macro render_tree(path) %}
  <li><a href="/folder/{{ path }}">{{ path.split('/')[-1] }}</a>
    {% set subs = list_subfolders(path) %}
    {% set chaps = list_chapters(path) %}
    {% if subs or chaps %}
    <ul>
      {% for s in subs %}
        {{ render_tree(path ~ '/' ~ s) }}
      {% endfor %}
      {% for c in chaps %}
        <li><a href="/folder/{{ path }}/{{ c }}">{{ c }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endmacro %}

  <ul class="tree">
    {% for f in folders %}
      {{ render_tree(f) }}
    {% endfor %}
  </ul>
</div>
<div id="main">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for msg in messages %}<li>{{ msg }}</li>{% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</div>
</body>
</html>
