{% extends "layout.html" %}
{% block title %}{{ timeline }}{% endblock %}
{% block content %}
<div id="chapter_page">
  <div id="chapter_area">
    <h1>{{ folder }} / {{ timeline }}</h1>
    <div id="chapter_tabs" data-folder="{{ folder }}" data-chapter="{{ timeline }}" data-type="timeline"></div>
    <form action="{{ url_for('save_timeline', folder=folder, timeline=timeline) }}" method="post" onsubmit="prepareChapter()">
      <div class="toolbar">
        <button type="button" onclick="execCmd('bold')">B</button>
        <button type="button" onclick="execCmd('italic')">I</button>
        <button type="button" class="gap-right" onclick="execCmd('underline')">U</button>
        <button type="button" onclick="execCmd('insertUnorderedList')">&bull;</button>
        <button type="button" onclick="execCmd('insertOrderedList')">1.</button>
        <button type="button" class="gap-left" id="undo_btn">Undo</button>
        <button type="button" id="redo_btn">Redo</button>
      </div>
      <div id="chapter_editor" contenteditable="true" data-save-url="{{ url_for('autosave_timeline', folder=folder, timeline=timeline) }}">{{ timeline_html|safe }}</div>
      <input type="hidden" name="text" id="chapter_text" />
    </form>
    <p><a href="{{ url_for('download_timeline_docx', folder=folder, timeline=timeline) }}">Download Timeline</a></p>
  </div>
</div>
{% endblock %}
